{% extends "wiki/wiki_base.html" %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      <a href="/"><img src="{% static 'wiki/image/soyachiken.png' %}" height=70px class="rounded" /></a>
    </div>
    <div class="col-md-6 text-right">
      <ul class="list-inline-item">
      {% if not user.is_authenticated %}
      <li class="list-inline-item"><a href="/accounts/login/">ログイン</a></li>
      <li class="list-inline-item"><a href="/accounts/signup/">登録</a></li>
      {% elif user.id == 2 %} 
      <li class="list-inline-item">{{ user.username }}さん(&nbsp;<a href="/admin/">サイト管理</a>&nbsp;)</li>
      <li class="list-inline-item"><a href="/accounts/logout">ログアウト</a></li>
      {% else %}
      <li class="list-inline-item">{{ user.username }}さん(&nbsp;<a href="{% url 'profile' user.id %}">アカウント</a>&nbsp;)</li>
      <li class="list-inline-item"><a href="/accounts/logout">ログアウト</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
<script type="text/javascript">
    function map_init_default (map, options) {
      var mc = L.markerClusterGroup();
      {% for ma in maparts %}
      var popup = '<a href="'+"{% url "view_article" ma.pk %}"+'" target="_new">' + "{{ma.title}}" + '</a><br /><font class="muted" size="x-small">({{ma.author}})</font>';
      var marker_{{forloop.counter}} = L.marker([ {{ma.latitude}}, {{ma.longitude}} ], {
        icon: ic_doc24
      }).bindPopup(popup).addTo(map);
      mc.addLayer(marker_{{forloop.counter}});
      {% endfor %}

      {% for file in mapfiles %}
      var popup = '<img src="' + "{{file.img.url}}" + '" class="img-thumbnail" /><br />' +
          '{% if file.title == '' %} タイトルがありません {% else %} {{file.title}} {% endif %} <br/>' +
          '{% if file.summary == '' %} 紹介文がありません {% else %} {{file.summary}} {% endif %}';
      var marker_{{forloop.counter}} = L.marker([ {{file.latitude}}, {{file.longitude}} ], {
        icon: ic_photo24
      }).bindPopup(popup).addTo(map);
      mc.addLayer(marker_{{forloop.counter}});
      {% endfor %}

      Lfeatures = makeFeatureLayer("{% url 'features' %}");
      Lsections1920 = makeSectionLayer("{% url 'sections' 1920 1950 %}");
      Lsections1950 = makeSectionLayer("{% url 'sections' 1951 1970 %}");
      Lsections1995 = makeSectionLayer("{% url 'sections' 1971 1990 %}");
      Lsections2017 = makeSectionLayer("{% url 'sections' 1991 2017 %}");

      Lstations1920 = makeStationLayer("{% url 'stations' 1920 1950 %}");
      Lstations1950 = makeStationLayer("{% url 'stations' 1951 1970 %}");
      Lstations1995 = makeStationLayer("{% url 'stations' 1971 1990 %}");
      Lstations2017 = makeStationLayer("{% url 'stations' 1991 2017 %}");

      LsectionsBase = makeSectionLayer("{% url 'sections' 1920 2017 %}");
      LstationsBase = makeStationLayer("{% url 'stations' 1920 2017 %}");

      Ladm1920  = makeAdmLayer("{% url 'adm1920' %}", 1920, 1920);
      Ladm1950  = makeAdmLayer("{% url 'adm1950' %}", 1950, 1950);
      Ladm1995  = makeAdmLayer("{% url 'adm1995' %}", 1995, 1995);
      Ladm2017  = makeAdmLayer("{% url 'adm2017' %}", 2017, 2017);

      g2017 = L.layerGroup([Lsections2017]);
      g1995 = L.layerGroup([Lsections1995]);
      g1950 = L.layerGroup([Lsections1950]);
      g1920 = L.layerGroup([Lsections1920]);

      var baseL = {
        '1991年〜現在': g2017,
        '1971〜1990年': g1995,
        '1951〜1970年': g1950,
        '1950年以前': g1920
      }

      cntl = L.control.layers(baseL,null,{collapsed:false});

      cntl.addTo(map);

      Lfeatures.addTo(map);

      gdefault = L.layerGroup([LsectionsBase]);
      gdefault.addTo(map);

      if (mc.getLayers().length>0){
        map.addLayer(mc);
        mc.bringToBack();
      }

      // ensure administrative borders be the bottom layer
      if (map.hasLayer(Ladm1920)) Ladm1920.bringToBack();
      if (map.hasLayer(Ladm1950)) Ladm1950.bringToBack();
      if (map.hasLayer(Ladm1995)) Ladm1995.bringToBack();
      if (map.hasLayer(Ladm2017)) Ladm2017.bringToBack();

      map.on('baselayerchange', function(e) {
        // if at least one layer change occured,
        // we discard the gdefault layer!
        if (map.hasLayer(gdefault)) {
          map.removeLayer(gdefault);
        }
        console.log(e.name);
        // console.log(map.getZoom());

        if (map.getZoom()>=9){
          switch(e.name) {
            case '1950年以前':
              if (!g1920.hasLayer(Ladm1920))      g1920.addLayer(Ladm1920);
              if (!g1920.hasLayer(Lstations1920)) g1920.addLayer(Lstations1920);
              Lstations1920.bringToFront();
              Ladm1920.bringToBack();
              break;
            case '1951〜1970年':
              if (!g1950.hasLayer(Ladm1950))      g1950.addLayer(Ladm1950);
              if (!g1950.hasLayer(Lstations1950)) g1950.addLayer(Lstations1950);
              Ladm1950.bringToBack();
              break;
            case '1971〜1990年':
              if (!g1995.hasLayer(Ladm1995))      g1995.addLayer(Ladm1995);
              if (!g1995.hasLayer(Lstations1995)) g1995.addLayer(Lstations1995);
              Ladm1995.bringToBack();
              break;
            case '1991年〜現在':
              if (!g2017.hasLayer(Ladm2017))      g2017.addLayer(Ladm2017);
              if (!g2017.hasLayer(Lstations2017)) g2017.addLayer(Lstations2017);
              Ladm2017.bringToBack();
              break;
            default:
              console.log("SOYALAB ERROR: UNKNOWN PERIOD SELECTED!!!: " + e.name);
              // do nothing
          }
        }
        else {
          switch(e.name) {
            case '1950年以前':
              g1920.removeLayer(Ladm1920);
              g1920.removeLayer(Lstations1920);
              break;
            case '1951〜1970年':
              g1950.removeLayer(Ladm1950);
              g1950.removeLayer(Lstations1950);
              break;
            case '1971〜1990年':
              g1995.removeLayer(Ladm1995);
              g1995.removeLayer(Lstations1995);
              break;
            case '1991年〜現在':
              g2017.removeLayer(Ladm2017);
              g2017.removeLayer(Lstations2017);
              break;
            default:
              console.log("SOYALAB ERROR: UNKNOWN PERIOD SELECTED!!!: " + e.name);
              // do nothing
          }
        }
      })

      map.on('zoomend', function(){
        if (map.getZoom()>=9){
          console.log(map.getZoom());

          if (map.hasLayer(gdefault)) gdefault.addLayer(LstationsBase);

          if (map.hasLayer(g1920)){
            if (!g1920.hasLayer(Ladm1920))      g1920.addLayer(Ladm1920);
            if (!g1920.hasLayer(Lstations1920)) g1920.addLayer(Lstations1920);
          }
          if (map.hasLayer(g1950)){
            if (!g1920.hasLayer(Ladm1950))      g1950.addLayer(Ladm1950);
            if (!g1920.hasLayer(Lstations1950)) g1950.addLayer(Lstations1950);
          }
          if (map.hasLayer(g1995)){
            if (!g1920.hasLayer(Ladm1995))      g1995.addLayer(Ladm1995);
            if (!g1920.hasLayer(Lstations1995)) g1995.addLayer(Lstations1995);
          }
          if (map.hasLayer(g2017)){
            if (!g1920.hasLayer(Ladm2017))      g2017.addLayer(Ladm2017);
            if (!g1920.hasLayer(Lstations2017)) g2017.addLayer(Lstations2017);
          }
        }
        else {
          if (map.hasLayer(gdefault)) gdefault.removeLayer(LstationsBase);

          if (map.hasLayer(g1920)){
            if (g1920.hasLayer(Ladm1920))      g1920.removeLayer(Ladm1920);
            if (g1920.hasLayer(Lstations1920)) g1920.removeLayer(Lstations1920);
          }
          if (map.hasLayer(g1950)){
            if (g1950.hasLayer(Ladm1950))      g1950.removeLayer(Ladm1950);
            if (g1950.hasLayer(Lstations1950)) g1950.removeLayer(Lstations1950);
          }
          if (map.hasLayer(g1995)){
            if (g1995.hasLayer(Ladm1995))      g1995.removeLayer(Ladm1995);
            if (g1995.hasLayer(Lstations1995)) g1995.removeLayer(Lstations1995);
          }
          if (map.hasLayer(g2017)){
            if (g2017.hasLayer(Ladm2017))      g2017.removeLayer(Ladm2017);
            if (g2017.hasLayer(Lstations2017)) g2017.removeLayer(Lstations2017);
          }
        }

      })

      
    }
    </script>
        
  <div class="row">
    <div class="col-md-9">
    <style media="screen">
      #default_map { width:100%; height: 440px;}
    </style>
    <script src="{% static 'wiki/js/leaflet.ajax.min.js' %}"></script>
      {% leaflet_map "default_map" callback="window.map_init_default" %}
      <button id="btnCurLocation" onClick="setCurLocation()">現在地を表示</button>
    </div>

    <div class="col-md-3 text-right">
      <h5>宗谷・道北地域に関する</h5>
      <div class="float-left list-group">
      <ul>
        <li class="list-group-item"><strong>記事: </strong> {{ nart }}</li>
        <li class="list-group-item"><strong>地点: </strong> {{ nfet }}</li>
        <!-- <li class="list-group-item"><a href="#" class="btn btn-outline-danger btn-sm">削除</a></li> -->
      </ul>
      <h5>が登録されています</h5>
    </div>
  </div><!-- row -->


  <div class="row" style="margin-top:60px">
  <div class="card col-md-4 bg-light">
    <img class="card-img-top rounded" src="https://i.ytimg.com/vi/E2M2kGRp-OI/hqdefault.jpg" height="200px" alt="NO IMAGE" />
    <div class="card-body">
      <h4 class="card-title">宗谷地研の使い方</h4>
      <p class="card-text">地図上の地点をクリックすると、その場所にまつわる記事や写真を閲覧することができます。あなたも<a href="/accounts/signup">登録</a>して、記事や写真を投稿しましょう。</p>
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">詳しい使い方(近日公開)</a></div>
  </div>
  <div class="card col-md-4">
    <img class="card-img-top" src="{% static 'wiki/image/soyaapp.png'%}" height="200px" alt="Card image cap" />
    <div class="card-body px-2 py-3">
      <h4 class="card-title">地研アプリ</h4>
      <p class="card-text">地研への投稿や地理データを使って、インタラクティブなWebアプリケーションを作成しました。どうぞお楽しみください。</p>
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary">近日公開</a></div>
  </div>
  <div class="card col-md-4 bg-light">
    <img class="card-img-top" src="{% static 'wiki/image/souyakenkyuu.jpg'%}" height="200px" alt="souyakenkyuu" />
    <div class="card-body">
      <h4 class="card-title">宗谷地域研究所について</h4>
      <p class="card-text">宗谷地研の活動や取り組みをご紹介します（稚内北星学園大学ウェブサイトへ）  。</p>
    </div>
    <div class="card-footer"><a href="http://www.wakhok.ac.jp/tiiki_kenkyuu.html" target="_blank" class="btn btn-primary">もっと知る</a></div>

  </div>
  </div>
  <script type="text/javascript">
    function setCurLocation(){
      if (navigator.geolocation == false){
        alert('現在地を取得できませんでした。');
        return;
      }
    
      function success(e) {
        var lat  = e.coords.latitude;
        var lng = e.coords.longitude;
        default_map.setView([lat, lng], 15);
    
        var pulsingIcon = L.icon.pulse({iconSize:[20,20],color:'#1199fb'});
        L.marker([lat, lng],{icon: pulsingIcon}).addTo(default_map);
    
      };
    
      function error() {
        alert('現在地を取得できませんでした。');
      };
    
      navigator.geolocation.getCurrentPosition(success, error);
    }
  </script>

{% endblock %}