{% load i18n static %}
{% load bootstrap4 %}
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %}
{% load leaflet_tags %}
{% load geojson_tags %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
	{% block title %}<title>Soya Lab Wiki</title>{% endblock %}
	<!--[if IE 8]><script src="{% static "leaflet/eventlister.ie8.js" %}"></script><!--<![endif]-->
	<!--[if lt IE 8]><script src="{% static "leaflet/eventlister.ie6-7.js" %}"></script><!--<![endif]-->
	<link rel="shortcut icon" href="{% static 'image/favicon.ico' %}"/>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'wiki/css/bootstrap.min.css' %}">
	{% leaflet_js %}
	{% leaflet_css %}
	<script type="text/javascript" src="{% static 'wiki/js/soya.js' %}"></script>
	<script type="text/javascript" src="{% static 'wiki/js/tinymce/tinymce.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'wiki/js/tinymce/jquery.tinymce.min.js' %}"></script>
</head>
<body>
	<div class="container">
	{% block content %}
		{{ content }}
	{% endblock %}
	</div>

<script src="{% static 'wiki/js/jquery-3.3.1_min.js' %}"></script>
<script src="{% static 'wiki/js/bootstrap.bundle.min.js' %}"></script>

{% block extra_js %}{% endblock %}
{% block extra_css %}{% endblock %}
{% load static %}
<div style="padding-top: 10px">&nbsp;</div>
</body>
</html>
