{% extends "wiki/wiki_base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}

{% block content %}


<div class="container">

    <div class="row">
        <div class="col-md-6">
          <img src="{% static 'wiki/image/soyachiken.png' %}" height=70px class="rounded" />
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if form.errors %}
            <p>ユーザ名とパスワードがマッチしません。</p>
            {% endif %}
    
            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div id="content" class="colM">
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button 'ログイン' button_type="submit"     button_class='btn-primary' %}
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}